body{
    background-color: rgb(217, 196, 240);
}
.centertitle{ 
    text-align: center;
}
.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
ol{
    list-style-type: lower-roman;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 12, 53);
}
.byulink{
    color: aliceblue;
}
a:hover{ 
    color: darkgoldenrod;
    text-decoration: underline;
}
.textwhite{
    color: antiquewhite;
}
.centervideo{
    align-content: center;
    padding-top: 30px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(241, 234, 206);
}
.top{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}